<!DOCTYPE html>
<th:block th:replace="~{/layout/index :: setContent(~{this::content})}">

    <th:block th:fragment="content">


<!-- 쓸모없는 거 -->
<!-- <h1> 리뷰 리스트 페이지
    <span>
        <a th:href="@{/review/register_reviews}"> p.26( cf. 'a href' - 하이퍼링크 태그). @{..}는 타임리프의 링크표현식)
            <button type="button" class="btn btn-outline-primary"> 리뷰 등록</button>
            						          static-css-styles.html 2982행
        </a>
    </span>
</h1> -->


<table class="table table-striped"> <!-- 부트스트랩의 스타일 적용. static-css-styles.html에서 가져옴. 1796행  -->
    <thead>   <!-- 20-27행 정적 데이터 부분. 수정 x -->
    <tr>
        <th scope="col">#</th>
        <th scope="col">제품 품목</th>
        <th scope="col">판매자</th>
        <th scope="col">가격</th>                  
        <th scope="col">등록일</th>
    </tr>
    </thead>    


	 <tbody> <!-- 동적 데이터 입력부 -->
		<tr th:each ="dto : ${list}">  <!-- 컨트롤러에서 받은 변수 list를 여기서 선언한 dto에 넣음 p.26-27 -->
				
			<th> <!-- view단에서 dto.no눌렀을때 상세화면으로 이동되게 하기 -->
			
			 <a th:href=" @{/cart/infoRead(no= ${dto.no} ) } ">  [[${dto.no}]]  </a> 
								
			</th>
			 
			<td> [[${dto.item_name}]]</td>
			
			<td> [[${dto.seller}]]</td>
			
			<td> [[${dto.price}]]</td>
			
			<td> [[ ${ #temporals.format( dto.regDate, 'yyyy/MM/dd') } ]] </td>   
			<!-- 날짜데이터 특정한 형식으로 표현. temporals라는 객체 생성&메서드 (value, pattern) -->				
		
    	</tr>
    </tbody>




	<script th:inline="javascript">
	
	$(document).ready(
			
		function(){
		
			var msg = [[ ${msg} ]]; /* 컨트롤러에서 msg라는 변수 받음 */
		
			if(msg !=null){
			alert (msg + "번 리뷰가 등록되었습니다.")
			
			}
		
		}
	
	);
	
	</script>



 </th:block> 

</th:block> 
