<!DOCTYPE html>
<th:block th:replace="~{/layout/index :: setContent(~{this::content})}">

    <th:block th:fragment="content">





<!-- 티셔츠 -->
	<img src=" https://www.wooritee.com/data/item/1541998812/thumb-white_280x280.png" style="width:300px; height:300px;"> 
<!-- 셔츠 -->    
    <img src="https://m.ashirt.kr/web/product/medium/202205/2a2327c2bf66c610538867371a400371.jpg" style="width:300px; height:300px;">
<!-- 바지 -->    
    <img src="https://www.costco.co.kr/medias/sys_master/images/ha4/h5f/168520913485854.jpg" style="width:300px; height:300px;">




 </th:block> 

</th:block> 
