
<!DOCTYPE html>

<th:block th:replace="~{/layout/index :: setContent(~{this::content})}">

    <th:block th:fragment="content">
    
<h1 class="mt-4"> 제품 정보 </h1>

<div class="form-group">
  <label >번호</label>
 	 <input type="text" class="form-control" th:value="${dto.no}" readonly > <!-- readonly 속성 때문에 수정이 안됨. -->
</div>

<div class="form-group">
  <label >제품 이름</label>
  	<input type="text" class="form-control" th:value="${dto.item_name}" readonly > <!-- th:value - 입력 기초값기능 -->
</div>

<div class="form-group">
  <label >판매자 이름</label>
 	 <textarea class="form-control" rows="5" readonly>[[${dto.seller}]] </textarea> 
</div>

<div class="form-group">
  <label >가격</label>
	<input type="text" class="form-control" th:value="${dto.price}" readonly >   
</div>

<div class="form-group">
  <label >등록일</label>
 	 <input type="text" class="form-control" th:value="${ #temporals.format( dto.regDate, 'yyyy/MM/dd HH:mm:ss') }" readonly>
</div>

<div class="form-group">
  <label >수정일</label>
 	 <input type="text" class="form-control" th:value="${ #temporals.format( dto.modDate, 'yyyy/MM/dd HH:mm:ss') }" readonly>
</div>





</th:block> <!-- 6행에서 시작 -->

</th:block>  <!-- 4행에서 시작 -->