<!DOCTYPE html>
<th:block th:replace="~{/layout/index :: setContent(~{this::content})}">

    <th:block th:fragment="content">


<h1 class="mt-4"> Items Register Page</h1>


<!-- p.35 ↓↓↓↓↓↓↓-->
<form th:action="@{/items/register_items}" th:method="post">   <!-- vs modify파일 11행 --> 
			 	<!-- ㄴ 데이터 받을 주소. html이아니라 url.(컨트롤러 가봐)   th:method는 방식 post라서 boardController의 postMapping이 호출됨. cf) 메서드는 post랑 get밖에 안됨 form에서는-->
  <div class="form-group"> 	 <!--  BoardDTO에서 동적으로 입력되어야할 데이터만 form형식에 입력 -->
    <label >아이템 이름</label>
    <input type="text" class="form-control" name="item_name"> <!-- name에 field명 매핑한다. dto 참변 값들 -->
  </div>
  
  <div class="form-group">
    <label >판매자</label>
    <textarea class="form-control" rows="5" name="seller"></textarea>
  </div>
  
  <div class="form-group">
    <label >가격</label>
    <input type="text" class="form-control" name="price">
  </div>
  

  <button type="submit" class="btn btn-primary">등록</button>
</form>


 </th:block> 

</th:block> 
